<a href="https://colab.research.google.com/github/jadsoncastro/IA-codigos-disciplina/blob/main/Aprendizado-de-Maquina/Regress%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importar bibliotecas

In [ ]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LinearRegression

# Leitura do conjunto de dados

In [ ]:
df = pd.read_csv("horas-estudos.csv", delimiter=",")

In [ ]:
df.head(10)

   Estudante  Horas_de_Estudo  Nota
0          1                1    53
1          2                5    74
2          3                7    59
3          4                8    43
4          5               10    56
5          6               11    84
6          7               14    96
7          8               15    69
8          9               15    84
9         10               19    83

In [ ]:
X = df.values[:,1].reshape(-1,1) # Conjunto de atributos

y = df.values[:,-1].reshape(-1,1) # Rotulo utilizado para regressao

In [ ]:
print(pd.DataFrame(X))

    0
0   1
1   5
2   7
3   8
4  10
5  11
6  14
7  15
8  15
9  19

# Execução do algoritmo de regressão

In [ ]:
modelo = LinearRegression()
modelo.fit(X, y)

LinearRegression()

#Resultados do modelo

In [ ]:
print("Coeficiente de determinação: %.4f" % modelo.score(X, y))

print("Intercept: %.4f" % modelo.intercept_)

# Slope
print('Slope: %.4f' % modelo.coef_)

Coeficiente de determinação: 0.3941
Intercept: 49.4771
Slope: 1.9641

# Predição de um novo valor

In [ ]:
novoValor = np.array([2]).reshape(1,-1)

resultado = modelo.predict(novoValor)

print("O valor da nota sera: %.2f" % resultado)

O valor da nota sera: 53.41